/* ==========================================================================
   Main Styles
   ========================================================================== */
.section {
  padding-bottom: var(--gap);
  padding-top: var(--gap);

  &--dark {
    background-color: var(--off-black);
    color: var(--off-white);

    hr {
      border-color: var(--yellow);
    }

    [class*='__icon'] {
      fill: var(--yellow);
    }
  }

  &--light {
    background-color: var(--yellow);
    color: var(--off-black);

    a,
    h2 {
      color: var(--off-black);
    }

    [class*='__icon'] {
      fill: var(--off-black);
    }
  }
}

.two-col-grid {
  display: grid;
  grid-gap: var(--gap);

  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
  }
}

.header {
  background-color: var(--off-black);
  border-bottom: 1px solid var(--yellow);
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &__inner {
    @extend .wrapper !optional;

    align-content: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: 42px;
    width: 42px;

    img {
      max-width: 42px;
      width: 42px;
    }
  }
}

.nav {
  display: flex;

  &__item {
    &:first-child {
      display: none;

      @media (min-width: 45em) {
        display: inline-flex;
      }
    }
  }

  &__link {
    color: var(--yellow);
    display: inline-block;
    height: 60px;
    padding: 20px 8px;
    text-decoration: none;
    transition: var(--transition-bg);

    &:hover,
    &:focus,
    &--active  {
      background-color: var(--yellow);
      color: var(--off-black);
    }
  }
}

.hero {
  $this: &;
  align-items: center;
  background-color: var(--yellow);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: calc(100vh - 60px); // Height of header
  justify-content: center;
  position: relative;
  width: 100%;

  @media (min-width: 64em) {
    height: 100%;
    min-height: 640px;
  }

  &--narrow {
    min-height: 400px;
  }

  &__content {
    @extend .wrapper !optional;
    color: var(--off-black);
    max-width: 80rem;
    text-align: center;

    p {
      font-weight: 500;

      @media (min-width: 45em) {
        font-size: 1.8rem;
      }
    }
  }

  #{$this}__heading {
    color: var(--off-black);
    margin-bottom: 3rem;
    position: relative;

    &::after {
      background-color: var(--off-black);
      bottom: -10px;
      content: "";
      height: 4px;
      left: calc(50% - 10%);
      position: absolute;
      width: 20%;
    }
  }

  &__cta {
    background-color: rgba(17, 17, 17, 1);
    color: var(--yellow);
    display: inline-block;
    font-size: 18px;
    padding: 12px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: var(--transition);

    &:hover,
    &:focus {
      background-color: rgba(17, 17, 17, 0.8);;
    }
  }
}

.btn {
  background-color: transparent;
  border: 1px solid var(--yellow);
  color: var(--yellow);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  transition: var(--transition);
  padding: 12px;

  @media (min-width: 45em) {
    padding: 12px 32px;
  }

  &--dark {
    border-color: var(--off-black);
    color: var(--off-black);
  }

  &:hover,
  &:focus {
    background-color: var(--yellow);
    color: var(--off-black);
  }

  &--inverse {
    border-color: var(--off-black);
    color: var(--off-black);

    &:hover,
    &:focus {
      background-color: var(--off-black);
      color: var(--yellow);
    }
  }

  &--icon {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 1em;
      position: relative;
      transition: var(--transition);
      stroke: var(--yellow);
    }

    &:hover,
    &:focus {
      .icon {
        stroke: var(--black);
      }
    }
  }
}

.announcement {
  &__inner {
    @extend .wrapper !optional;
  }

  &__inner + &__inner {
    margin-top: var(--gap);
  }

  &__content {
    align-items: center;
    background-color: var(--off-black);
    border: 1px solid var(--yellow);
    box-shadow: 10px 10px 0 var(--yellow);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;

    @media (min-width: 45em) {
      flex-direction: row-reverse;
      padding: 0;
    }
  }

  &__text {
    @media (min-width: 45em) {
      margin: 20px 20px 0 20px;
    }
    @media (min-width: 64em) {
      margin: 40px;
    }
  }

  &__heading {
    line-height: 3rem;
  }

  &__img {
    max-width: 320px;

    @media (min-width: 45em) {
      max-width: 260px;
    }

    &--pad {
      padding: 1em;
    }
  }
}

.classes {
  display: grid;
  grid-gap: var(--gap);

  .heading {
    &--sub {
      display: block;
      font-size: 2rem;
      line-height: 1;
    }
  }

  &__inner {
    @extend .wrapper !optional;

    align-items: center;
    display: flex;
    flex-direction: column;

    @media (min-width: 45em) {
      flex-direction: row;
    }
  }

  &__image {
    box-shadow: 10px 10px 0 var(--yellow);
    border: 1px solid var(--yellow);
    margin-top: var(--gap);

    @media (min-width: 45em) {
      flex-basis: content;
      margin-left: var(--gap);
      margin-top: 0;
      max-width: 298px;
    }
  }

  .reverse {
    .classes__content {
      @media (min-width: 45em) {
        order: 2;
      }
    }
    .classes__image {
      @media (min-width: 45em) {
        margin-top: 0;
        margin-left: 0;
        margin-right: var(--gap);
        order: 1;
      }
    }
  }
}

.about {
  &__heading {
    color: var(--off-black);
  }
}

.testimonials {
  .heading {
    margin-bottom: 6.6rem;
    text-align: center;
    position: relative;

    &::after {
      background-color: var(--yellow);
      bottom: -10px;
      content: "";
      height: 4px;
      left: calc(50% - 5%);
      position: absolute;
      width: 10%;
    }
  }

  &__inner {
    text-align: center;
  }

  blockquote {
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
    z-index: 1;

    @media (min-width: 64em) {
      padding: 0 68px;
      z-index: initial;
    }

    strong,
    b {
      color: var(--yellow);
    }

    &::before,
    &::after {
      background: url('/assets/imgs/left-quote.svg') no-repeat;
      content: "";
      display: block;
      height: 100px;
      opacity: .2;
      position: absolute;
      width: 100px;
      z-index: -1;

      @media (min-width: 64em) {
        height: 60px;
        opacity: 1;
        width: 60px;
        z-index: initial;
      }
    }

    &::before {
      top: 0;
      left: 20px;

      @media (min-width: 64em) {
        left: 0;
      }
    }

    &::after {
      bottom: -30px; // half of icon height
      transform: rotate(180deg);
      right: 30px;

      @media (min-width: 64em) {
        bottom: 0;
        right: 0;
      }
    }
  }

  cite {
    font-size: 14px;

    &::before {
      content: "— ";
      color: var(--yellow);
      font-size: 18px;
    }
  }
}

.contact {
  .tel {
    color: var(--off-black);
    display: flex;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 1.6rem;
    flex-direction: row;
    align-items: center;

    &__icon {
      height: 16px;
      margin-right: 6px;
      width: 16px;
    }
  }

  .address {
    align-items: center;
    display: flex;
    flex-direction: row;

    &__icon {
      height: 36px;
      margin-right: 6px;
      width: 36px;
    }
  }

  &__map-container {
    box-shadow: 10px 10px 0 var(--off-black);
    border: 1px solid var(--off-black);
    display: block;

    &:hover figcaption,
    &:focus figcaption {
      display: block;
    }

    img {
      margin: 0;
    }

    figcaption {
      background-color: var(--yellow);
      color: var(--off-black);
      padding: 10px;
      text-align: center;
      margin: 0;

      @media (min-width: 45em) {
        border: 1px solid var(--off-black);
        display: none;
        position: absolute;
        top: 45%;
      }
    }
  }
}

.content-block {
  display: grid;
  grid-gap: var(--gap);
  margin: 0 auto;
  max-width: 80rem;

  &--borders {
    border-bottom: 1px dashed var(--yellow);
    border-top: 1px dashed var(--yellow);
  }

  @media (min-width: 45em) {
    grid-template-columns: 2fr 1fr;
  }

  .image {
    display: flex;
    justify-content: center;

    @media (min-width: 45em) {
      align-items: center;
    }
  }

  img {
    background-color: var(--white);
    border: 2px solid var(--yellow);
    max-width: 280px;
  }
}

.footer {
  font-size: 14px;
  text-align: center;

  .mcm {
    display: block;
    margin-top: 2em;
    text-decoration: none;
    opacity: .8;

    &:hover,
    &:focus {
      text-decoration: underline;
      opacity: 1;
    }
  }
}

.safe-team {
  gap: 4rem;

  @media (min-width: 45em) {
    grid-template-columns: 2fr 4fr;
  }

  &__paul {
    img {
      margin-bottom: 2rem;
      max-width: 278px;
    }
  }

  &__photos {
    img {
      max-width: 154px;
    }
  }
}
