:root {
  // Colours

  --white: #fff;
  --off-white: #eee;
  --black: #000;
  --off-black: #111;
  --dark-grey: #666;
  --darker-grey: #333;
  --yellow: #FFDD00;
  --blue-grey: #393f4c;
  --light-grey: #ccc;
  --green: #46a546;
  --light-green: #a9dba9;
  --red: #e9322d;
  --light-red: #ee5f5b;
  --dark-red: #ce1a16;

  // Transitions
  --transition: all ease-in-out .3s;
  --transition-bg: background-color ease-in-out .3s;

  // Gap
  --gap: 3rem;

  @media (min-width: 48em) {
    --gap: 4rem;
  }

  @media (min-width: 64em) {
    --gap: 6rem;
  }
}
