// Variables
@import "variables";
@import "mixins";


/* ==========================================================================
   Base styles
   ========================================================================== */

html {
  background: var(--off-black);
  color: var(--off-white);
  font: 62.5%/1.5 sans-serif;
  overflow-y: scroll; /* Forces vertical scrollbar */
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: var(--orange);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; /* Fix for webkit rendering */
}

a {
  color: var(--yellow);

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

%wrapper,
.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  padding-left: var(--gap);
  padding-right: var(--gap);
  position: relative;

  &--center {
    align-content: center;
    display: flex;
    justify-content: center;
  }
}

.main {
  margin-top: 60px; // Height of header for fixed position
}

@import "theme.scss";
@import "partials.scss";
