      <footer role="contentinfo" class="footer / section">
        <div class="wrapper">
          <small><span class="copyright">&copy; T.M.A.A. Woodbridge {{ global.copyrightYear }} <a class="mcm" href="https://www.multicreativemedia.co.uk">Website design &amp; development by Multi Creative Media</a></span></small>
        </div>
      </footer>
