          <link type="text/css" rel="stylesheet" href="/assets/css/components/gallery.css">
          <script type="text/javascript" src="/assets/js/baguetteBox.min.js"></script>
          <script>
            document.addEventListener("DOMContentLoaded", () => {
              let gallery = baguetteBox.run('.gallery', {
                bodyClass: 'lightbox-is-open',
                ignoreClass: 'gallery__item--multiple',
                animation: 'fadeIn',
                noScrollbars: true,
              });
            });
          </script>
