{% if site.globalAnnoucement %}
<aside class="global-annoucement">
  <link rel="stylesheet" href="/assets/css/components/global-announcement.css" media="print" onload="this.media='all'; this.onload=null;">
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const hideElement = document.querySelector(".global-annoucement");
      const hideButton = document.querySelector("#hideAnnouncement");
      const hideAnnouncement = sessionStorage.getItem("hideAnnouncement");

      if (hideAnnouncement == "true") {
        hideElement.classList.add("hide");
        hideElement.setAttribute("hidden", "");
      }

      hideButton.addEventListener("click", (event) => {
        event.preventDefault();
        hideElement.classList.add("hide");
        hideElement.setAttribute("hidden", "");
        sessionStorage.setItem("hideAnnouncement", "true");
      });
    });
  </script>
  <p>{{ site.globalAnnoucement }}</p>
  <button class="btn btn--close" id="hideAnnouncement">
    <span class="visuallyhidden">Dismiss Announcement</span>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 8L12 12M12 12L8 16M12 12L8 8M12 12L16 16" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <circle cx="12" cy="12" r="10" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </button>
</aside>
{% endif %}
