<header class="header" role="banner">
  <div class="header__inner">
    <div class="logo">
      <a href="{{ site.url }}">
        <img src="{{ site.cloudinary_url }}f_auto,w_42/tmaa-logo.jpg" width="42" height="41" alt="T.M.A.A. Woodbridge logo">
      </a>
    </div>
    <nav role="navigation" aria-label="Global site navigation">
      {% set navPages = collections.all | eleventyNavigation %}
      <ul class="nav">
        {%- for entry in navPages %}
          <li class="nav__item">
            <a class="nav__link{% if entry.url == page.url %} nav__link--active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
          <li class="nav__item">
            <a class="nav__link" href="/#contact">Contact</a>
          </li>
      </ul>
    </nav>
  </div>
</header>
