@import "../plugins/baguetteBox";

.baguetteBox-button {
  background-color: transparent;

  polyline,
  g {
    stroke: var(--yellow);
  }

  &:hover,
  &:focus {
    background-color: var(--off-black);
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-gap: 4rem;

  &__item {
    box-shadow: 10px 10px 0 var(--yellow);
    border: 1px solid var(--yellow);
    overflow: hidden;
    position: relative;

    &:focus {
      border-style: dashed;
      outline: none;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 400ms ease-out, filter 400ms ease-out;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);

    &:hover,
    &:focus {
      transform: scale(1.15);
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }
  }

  .icon-multiple {
    background: rgba(0,0,0,.6);
    border-radius: 4px;
    height: 24px;
    padding: 2px 2px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    z-index: 1;
  }

  figure {
    img {
      margin: 0;
    }

    figcaption {
      background-color: rgba(0,0,0,.6);
      bottom: 0;
      color: var(--yellow);
      margin: 0;
      padding: .8rem;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
}

#baguetteBox-overlay .full-image figure {
  display: inline-block;
}
