.global-annoucement {
  align-items: center;
  background: var(--yellow);
  border-top: 1px solid var(--black);
  bottom: 0;
  color: var(--black);
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 1;
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 1;

  &.hide {
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin: 0;
    max-width: 100%;
  }

  .btn {
    height: 24px;
    margin-left: 1em;
    padding: 0;
  }
}
