{% set currentUrl = site.url + page.url %}

<!doctype html>
  <html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include "partials/meta-info.njk" %}
    <link rel="alternate" hreflang="en-GB" href="{{ currentUrl }}" />
    <link rel="shortcut icon" href="{{ site.cloudinary_url }}//favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="{{ site.cloudinary_url }}//favicon.svg" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.cloudinary_url }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.cloudinary_url }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.cloudinary_url }}/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.cloudinary_url }}/favicon-96x96.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="{{ site.cloudinary_url }}/safari-pinned-tab.svg" color="#111111">
    <meta name="msapplication-TileColor" content="#111111">
    <meta name="theme-color" content="#111111">
    <meta name="apple-mobile-web-app-title" content="TMAA" />
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="dns-prefetch" href="https://res.cloudinary.com">


    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "LocalBusiness",
      "name": "T.M.A.A. Woodbridge",
      "image": "https://res.cloudinary.com/ksww/f_auto/kuk-sool-won-woodbridge_logo.png",
      "@id": "https://www.kuksoolwonwoodbridge.co.uk",
      "url": "https://www.kuksoolwonwoodbridge.co.uk",
      "telephone": "07880730619",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Sutton Memorial Hall, Old Post Office Lane",
        "addressLocality": "Sutton, Woodbridge",
        "postalCode": "P12 3JQ",
        "addressCountry": "United Kingdom",
        "addressRegion": "Suffolk"
      },
      "priceRange": "40"
    }
    </script>
  </head>

  <body {% if bodyClass %} class="{{bodyClass}}"{% endif %}>
    <a class="skip" href="#main-content">Skip to content</a>

    {% include 'components/header.njk' %}

    <main role="main" class="main" id="main-content">
      {% block main %}
        {{ content | safe }}
      {% endblock %}

      {% include 'components/global-announcement.njk' %}
    </main>

    {% include 'components/footer.njk' %}
  </body>
</html>
