/* Forms
================================================== */
.form {
  input:not(.button),
  textarea,
  select {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
  }

  &__group {
    margin-bottom: 2.4rem;
  }
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  border: 0;
  border-bottom: 1px solid var(--off-white);
  color: var(--off-black);
  display: block;
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.142857143;
  margin-bottom: 2.4rem;
  padding: 0;
  width: 100%;
}

legend {
  small {
    color: var(--dark-grey);
    font-size: 14px;
    font-size: 1.5rem;
  }
}

label,
input,
select,
textarea {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: normal;
  width: 100%;
}

textarea {
  overflow: auto
}

label {
  display: block;
  margin-bottom: .3125em;
}

select,
textarea {
  border-radius: .1875em;
  color: var(--off-black);
  display: inline-block;
  height: auto;
  line-height: 1.5;
  margin-bottom: .5625em;
  padding: 0.5em;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  border-radius: .1875em;
  color: var(--off-black);
  display: inline-block;
  font-size: 16px;
  font-size: 1.6rem;
  height: auto;
  line-height: 1.55;
  margin-bottom: .5625em;
  padding: 0.5em;
}

.uneditable-input {
  border-radius: .1875em;
  color: var(--off-black);
  display: inline-block;
  height: auto;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.55;
  margin-bottom: .5625em;
  padding: 0.5em;
}

textarea {
  background-color: var(--off-white);
  border: 1px solid var(--off-black);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  height: auto;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  width: 100%;

  &:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  background-color: var(--off-white);
  border: 1px solid var(--off-black);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.uneditable-input {
  background-color: var(--off-white);
  border: 1px solid var(--light-grey);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}

.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  line-height: normal;
  margin: .25em 0 0;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  line-height: 1.875;
}

select {
  background-color: var(--off-white);
  border: 1px solid var(--light-grey);
  width: 13.75em;

  &:focus {
    outline: thin dotted var(--darker-grey);
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

select[multiple],
select[size] {
  height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted var(--darker-grey);
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
  background-color: var(--off-white);
  border-color: var(--light-grey);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  color: var(--darker-grey);
  cursor: not-allowed;
}

.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}
.uneditable-textarea {
  height: auto;
  width: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: var(--darker-grey);
}

.radio,
.checkbox {
  min-height: 1.125em;
  padding-left: 1.125em;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -1.125em;
  margin-top: 2px;
  outline: none;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: .3125em;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
  padding-top: .3125em;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: .625em;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"] {
  display: inline-block;
}

.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"] {
  display: inline-block;
}

.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}

input,
textarea,
.uneditable-input {
  margin-left: 0;
}

.controls-row [class*="span"] + [class*="span"] {
  margin-left: 1.25em;
}

.controls-row:before {
  content: "";
  display: table;
  line-height: 0;
}

.controls-row:after {
  clear: both;
  content: "";
  display: table;
  line-height: 0;
}

.controls-row [class*="span"] {
  float: left;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  background-color: var(--off-white);
  cursor: not-allowed;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline,
.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: var(--light-orange);
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: var(--light-orange);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  background-color: #fcf8e3;
  border-color: var(--light-orange);
  color: var(--light-orange);
}

.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline,
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea,
.ideal-field.invalid input,
.ideal-error {
  color: #b94a48;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea,
.ideal-field.invalid input {
  border-color: #b94a48;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus,
.ideal-field.invalid input:focus {
  border-color: #953b39;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  background-color: #f2dede;
  border-color: #b94a48;
  color: #b94a48;
}

.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline,
.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  background-color: #dff0d8;
  border-color: #468847;
  color: #468847;
}

.control-group.info > label,
.control-group.info .help-block,
.control-group.info .help-inline,
.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}

.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  background-color: #d9edf7;
  border-color: #3a87ad;
  color: #3a87ad;
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  border-color: var(--light-red);
  color: var(--dark-red);
}

input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
  border-color: var(--red);
  box-shadow: 0 0 6px var(--light-red);
}

.form-actions {
  background-color: var(--off-white);
  border-top: 1px solid var(--off-white);
  margin: 1.125em 0;
  padding: 1.1875em 1.25em 1.25em;
}

.form-actions:before {
  content: "";
  display: table;
  line-height: 0;
}

.form-actions:after {
  clear: both;
  content: "";
  display: table;
  line-height: 0;
}

.help-block,
.help-inline {
  color: var(--darker-grey);
}

.help-block {
  display: block;
  margin-bottom: .625em;
}

.help-inline {
  display: inline-block;
  padding-left: .3125em;
  vertical-align: middle;
  line-height: 2.15em;
}

.input-append,
.input-prepend {
  font-size: 0;
  margin-bottom: .3125em;
  white-space: nowrap;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 0;
  position: relative;
  vertical-align: top;
}

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}

.input-append .add-on,
.input-prepend .add-on {
  background-color: var(--off-white);
  border: 1px solid var(--light-grey);
  display: inline-block;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  height: auto;
  line-height: 1.25;
  min-width: 1em;
  padding: 0.5em 0.3125em;
  text-align: center;
  text-shadow: 0 1px 0 var(--white);
  width: auto;
}

.input-append .add-on,
.input-prepend .add-on {
  line-height: 1.20;
}

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn {
  border-radius: 0;
  vertical-align: middle;
}

.input-append .active {
  background-color: var(--light-green);
  border-color: var(--green);
}

.input-prepend .active {
  background-color: var(--light-green);
  border-color: var(--green);
}

.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -0.0625em;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  border-radius: 3px 0 0 3px;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  border-radius: 3px 0 0 3px;
}

.input-append .add-on,
.input-append .btn {
  margin-left: -0.0625em;
}

.input-append .add-on:last-child,
.input-append .btn:last-child {
  border-radius: 0 3px 3px 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  border-radius: 0;
}

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  border-radius: 3px 0 0 3px;
  margin-right: -1px;
}

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  border-radius: 0 3px 3px 0;
  margin-left: -0.0625em;
}

input.search-query {
  border-radius: 1em;
  margin-bottom: 0;
  padding-right: .875em;
  padding-left: .875em;
}

/* Allow for input prepend/append in search forms */
.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  border-radius: 0;
}

.form-search .input-append .search-query {
  border-radius: 0.875em 0 0 0.875em;
}

.form-search .input-append .btn {
  border-radius: 0 0.875em 0.875em 0;
}

.form-search .input-prepend .search-query {
  border-radius: 0 0.875em 0.875em 0;
}

.form-search .input-prepend .btn {
  border-radius: 0.875em 0 0 0.875em;
  height: auto;
}

.form-search input {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
}

.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}

.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}

.form-search .radio,
.form-search .checkbox {
  margin-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
}

.form-inline .radio,
.form-inline .checkbox {
  margin-bottom: 0;
  padding-left: 0;
  vertical-align: middle;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-right: .1875em;
  margin-left: 0;
}

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: .1875em;
  margin-left: 0;
}

.form-inline.ideal-form .ideal-error {
  margin-left: 10px;
  line-height: 2.185;
}

.control-group {
  margin-bottom: .625em;
}

legend + .control-group {
  margin-top: 1.25em;
  -webkit-margin-top-collapse: separate;
}
