/* Grid
================================================== */
.grid-3-col {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit,minmax(22ch,1fr));

  @media (min-width: 45em) {
    grid-template-columns: repeat(auto-fit,minmax(28ch,1fr));
  }
}
