/* $_Images
================================================== */
img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  max-width: 100%;
  width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}


/* $_Figures
================================================== */
figure {
  align-items: center;
  display: flex;
  flex-direction: column;

  img {
    margin-bottom: 1em;
  }

  figcaption {
    color: var(--off-black);
    font-style: italic;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 2em;

    > * {
      margin: 0;
    }
  }
}
