/* $_Lists
================================================== */
ul,
ol {
  margin: 0;
  margin-bottom: 1.25em;
  padding: 0 0 0 2em;

  li {
    line-height: 1.5;
    margin-bottom: .75em;
  }
}

ol {
  list-style: decimal;
  margin-left: 1.875em;
}

ul.square,
ul.circle,
ul.disc {
  margin-left: 1.875em;
}

ul {
  &.square {
    list-style: square outside;
  }

  &.circle {
    list-style: circle outside;
  }

  .disc {
    list-style: disc outside;
  }
}

ul ul,
ul ol {
  font-size: 90%;
  margin: 0.25em 0 0.3125em 1.875em;
}

ol ol,
ol ul {
  font-size: 90%;
  margin: 0.25em 0 0.3125em 1.875em;
}

ul ul li,
ul ol li {
  margin-bottom: .375em;
}

ol ol li,
ol ul li {
  margin-bottom: .375em;
}

ul.large li,
li p {
  line-height: 1.3125;
}

.list-bordered {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;

  li:not(:last-child) {
    border-bottom: 1px dashed var(--light-grey);
    margin-bottom: 0.375em;
    padding-bottom: 0.375em;
  }
}


.tags {
  margin-left: 0;
  padding: 0;

  li {
    list-style: none;

    a {
      display: block;
      padding: 4px 8px;

      .meta {
        float: right;
        color: #bbb;
      }

      &:hover {
        background: var(--light-grey);
        border-radius: 4px;
      }
    }
  }
}

.tags--inline {
  li {
    display: inline-block;

    a {
      background: var(--light-grey);
      border-radius: 4px;
    }
  }
}
