/* $_Typography
================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--yellow);
  font-weight: bold;
  margin-bottom: 1.6rem;
  text-rendering: optimizelegibility;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}

h1,
.alpha {
  font-size: 36px;
  font-size: 3.6rem;
}

h2,
.beta {
  font-size: 30px;
  font-size: 3rem;
}

h3,
.gamma {
  font-size: 24px;
  font-size: 2.4rem;
}

h4,
.delta {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.2;
}

h5,
.epsilon {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

h6,
.zeta {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.71429;
}

.giga {
  font-size: 96px;
  font-size: 9.6rem;
  line-height: 1;
}

.mega {
  font-size: 72px;
  font-size: 7.2rem;
  line-height: 1;
}

.kilo {
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1;
}

.lede,
.lead {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.33333;
}

.smallprint,
.milli {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 2;
}

.micro {
  font-size: 10px;
  font-size: 1rem;
  line-height: 2.4;
}

ol,
ul,
dl,
address {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 24px;
}

dl {
  margin: 0;
}

dl,
dd {
  margin-bottom: 1.5em;
}

dt {
  font-weight: bold;
}

.dl-horizontal {
  dt {
    clear: left;
    float: left;
    text-align: right;
    width: 20.25%;
  }

  dd {
    margin-left: 22.78%;
  }
}

abbr[title] {
  border-color: var(--light-grey);
}

ins {
  background-color: var(--off-white);
  color: var(--black);
  text-decoration: none;
}

mark {
  background-color: var(--off-white);
  color: var(--black);
  font-style: italic;
  font-weight: bold;
  padding: 0 0.25em;
}

pre,
code,
kbd,
samp {
  background: var(--blue-grey);
  color: var(--light-grey);
  display: block;
  font-family: "Inconsolata", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic;
  line-height: 1.5;
  padding: 10px;
}

p, li {
  code {
    background: var(--light-grey);
    border-radius: 2px;
    color: var(--off-black);
    display: inline;
    padding: 2px 4px;
  }
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

sub,
sup {
  font-size: 12px;
  font-size: 1.2rem;
}

p {
  font-size: 16px;
  font-size: 1.6rem;
  hyphenate: auto;
  hyphenate-lines: 3;
  line-height: 1.5;
  margin: 0 0 24px;
  word-spacing: .125em;

  &.lead {
    color: var(--dark-grey);
    font-size: 21px;
    font-size: 2.1rem;
    line-height: 1.6875;
  }

  &.no-margin {
    margin: 0;
  }

  img {
    margin: 0;
  }
}

body > p:first-of-type {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.333;
}

em {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

/*
  Blockquotes
*/
blockquote {
  font-size: 17px;
  font-size: 1.7em;
  font-size: 1.7rem;
  font-style: italic;
  line-height: 1.5;
  margin: 0 0 1.25em;
  padding: 0 1.25em 0 1.1875em;
  quotes: "“" "”";
  text-indent: -0.4em;

  &:before,
  &:after {
    content: '';
    content: none;
  }

  p {
    font-size: 17px;
    font-size: 1.7rem;
    font-style: italic;
    line-height: 1.5;

    // &:before {
    //   content: "“";
    //   content: open-quote;
    // }

    // &:after {
    //   content: "";
    //   content: no-close-quote;
    // }

    &:last-of-type {
      margin-bottom: 0;

      &:after {
        content: "”";
        content: close-quote;
      }
    }
  }

  cite {
    color: var(--dark-grey);
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
    font-style: normal;

    &:before {
      content: "\2014 \0020";
    }

    a,
    a:visited {
      color: var(--dark-grey);
    }
  }
}

.pull-quote {
  padding: 1em;
  position: relative;

  &:before,
  &:after {
    color: var(--dark-grey);
    font-size: 4em;
    height: 1em;
    opacity: 0.5;
    position: absolute;
  }

  &:before {
    content: '“';
    top: 0;
    left: 0;
  }

  &:after {
    content: '”';
    bottom: 0;
    right: 0;
  }
}

q {
  quotes: "‘" "’" "“" "”";

  &:before {
    content: "‘";
    content: open-quote;
  }

  &:after {
    content: "’";
    content: close-quote;
  }
}


q q:before {
  content: "“";
  content: open-quote;
}

q q:after {
  content: "”";
  content: close-quote;
}

.text {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}

hr {
  border-top: 1px solid;
  display: block;
  height: 1px;
  padding: 0;
}
