/* ==========================================================================
   Utility Classes
   ========================================================================== */

/*
 * Skip to content
 */
.skip {
  background-color: var(--black);
  color: var(--yellow);
  font-size: 16px;
  left: -50%;
  padding: 0.5em 1em;
  position: fixed;
  text-decoration: none;
  top: 70px; // clears logo
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, .94) 0s;
  z-index: 2;

  &:focus {
    border: 1px solid var(--yellow);
    left: 10px;
  }
}

/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;  /* IE 6/7 fallback */

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix
 */

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.cf:after {
  clear: both;
}



.u-block {
  display: block;
}
.u-flex {
  display: flex;
}
.u-grid {
  display: grid;
}
.u-inline {
  display: inline;
}
.u-inline-block {
  display: inline-block;
}
.u-center {
  display: flex;
  justify-content: center;

    > * {
      align-items: center;
    }
}
.u-align-start {
  align-items: flex-start;
}

.u-flex-col {
  flex-direction: column;
}

.u-flex-row {
  flex-direction: row;
}
.u-gap-1 {
  gap: 1rem;
}

.u-mx-auto {
  margin: 0 auto;
}

.u-mb-0 {
  margin-bottom: 0;
}
.u-mb-1 {
  margin-bottom: 1em !important;
}
.u-mb-2 {
  margin-bottom: 2em !important;
}
.u-mt-1 {
  margin-top: 1em;
}
.u-mt-2 {
  margin-top: 2em;
}
.u-mt-3 {
  margin-top: 3em;
}
.u-ml-6 {
  margin-left: 6rem;
}
.u-mr-6 {
  margin-right: 6rem;
}
.u-my-4 {
  margin: 4em 0;
}

.u-max-width-60 {
  max-width: 60%;
}

/*
 * Tel links
 */
@media only screen and (min-width: 45em) { /* 720 */
  a[href^="tel:"] {
    cursor: default;
    pointer-events: none;
  }
}

.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}


/*
 * Anchor
 */
.anchor {
  scroll-margin-top: 100px;
  scroll-snap-margin-top: 100px; // Safari
}

/*
 * Align Self - Start
 */

.self-start {
  align-self: flex-start;
}
