---
title: Gallery
eleventyNavigation:
  key: Gallery
  order: 3
---

{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="hero hero--narrow" style="background-image:linear-gradient(rgba(255,221,0,.8),rgba(255,221,0,.8)),url('{{ site.cloudinary_url }}f_auto,q_auto,w_auto,dpr_auto/hero-gallery-bg.jpg')">
    <div class="hero__content">
      <h1 class="hero__heading">{{ title }}</h1>
    </div>
  </div>

  <article class="section section--dark">
    <div class="wrapper">
      <div class="gallery">
      {% for item in gallery %}
        {% if item.src %}
        <a class="gallery__item" href="{% if item.link %}{{ item.link }}{% else %}{{ site.cloudinary_url }}w_1200,f_auto/gallery/{{ item.src }}{% endif %}" title="{% if item.caption %}{{ item.caption }}{% else %}{{ item.title }}{% endif %}">
          {% if item.link %}
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon-multiple" viewBox="0 0 20 20" fill="currentColor">
            <title>View {{ item.title }} gallery</title>
            <path d="M9 2a2 2 0 00-2 2v8a2 2 0 002 2h6a2 2 0 002-2V6.414A2 2 0 0016.414 5L14 2.586A2 2 0 0012.586 2H9z"/>
            <path d="M3 8a2 2 0 012-2v10h8a2 2 0 01-2 2H5a2 2 0 01-2-2V8z"/>
          </svg>
          {% endif %}
          {% if item.caption %}<figure>{% endif %}
            <img class="gallery__image" src="{{ site.cloudinary_url }}w_517,h_345,c_fill,g_auto/gallery/{{ item.src }}" alt="{{ item.alt }}" loading="lazy" width="517" height="345">
            {% if item.caption %}<figcaption>{{ item.caption }}</figcaption>{% endif %}
          {% if item.caption %}</figure>{% endif %}
        </a>
        {% endif %}
      {% endfor %}
      </div>
    </div>
    {% include 'components/gallery.njk' %}
  </article>

{% endblock %}
