---
title: 404 Not Found
eleventyExcludeFromCollections: true
permalink: 404.html
---

{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="hero hero--narrow" style="background-image:linear-gradient(rgba(255,221,0,.8),rgba(255,221,0,.8)),url('{{ site.cloudinary_url }}f_auto,q_auto,w_auto,dpr_auto/hero-about-bg.jpg')">
    <div class="hero__content">
      <h1 class="hero__heading">Error 404 - Page Not Found</h1>
    </div>
  </div>

  <article class="section section--dark">
    <div class="wrapper">
      <h2>The page you're looking for does not exist.</h2>
      <p>Here is a list of all the pages on our website:</p>
      {% set navPages = collections.all | eleventyNavigation %}
      <ul>
        {%- for entry in navPages %}
          <li>
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
          <li>
            <a href="/#contact">Contact</a>
          </li>
      </ul>
    </div>
  </article>
{% endblock %}
