---
title: About
eleventyNavigation:
  key: About
  order: 4
---

{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="hero hero--narrow" style="background-image:linear-gradient(rgba(255,221,0,.8),rgba(255,221,0,.8)),url('{{ site.cloudinary_url }}f_auto,q_auto,w_auto,dpr_auto/hero-about-bg.jpg')">
    <div class="hero__content">
      <h1 class="hero__heading">About T.M.A.A. Woodbridge</h1>
    </div>
  </div>

  <article class="section section--dark">
    <div class="wrapper / anchor" id="tmaa">
      <h2>About T.M.A.A.</h2>
      <p>Traditional martial arts is a complete system of martial art training with its main focus on self-defense, discipline and respect as well as incorporating many other skills from Asian martial arts.</p>

      <p>Learn martial arts in a safe, fun and friendly environment where children can develop important life skills and adults can feel fitter and healthier. We are a family run martial arts School where everyone is welcome – including beginners.</p>

      <h3>A Comprehensive Martial Arts System</h3>
      <p>T.M.A.A. is a systematic study of all of the traditional fighting arts, which together comprise the martial arts history of Korea. As a martial arts system, T.M.A.A. is exteremely well-organized; and seeks to integrate and explore the entire spectrum of established fighting arts and body conditioning techniques, as well as mental development and traditional weapons training. The following list includes some, but by no means all, of the elements of traditional martial arts.</p>

      <section class="section content-block content-block--borders">
        <div class="content">
          <h4>Hand Techniques</h4>
          <ul>
            <li>Closed and open hand striking methods, including: palm, fist,wrist, finger, and specialized hand training techniques</li>
            <li>Pressure point striking</li>
            <li>Striking with arm and shoulder</li>
            <li>Blocking and parrying</li>
          </ul>
        </div>
        <div class="image">
          {# <img src="{{ site.cloudinary_url }}w_280,f_auto/handstrikes.jpg" alt="Hand Techniques" loading="lazy" width="280" height="211"> #}
        </div>
      </section>

      <section class="section content-block content-block--borders">
        <div class="content">
          <h4>Leg Techniques</h4>
          <ul>
            <li>Fundamental kicks,including: front, inside, outside, &amp; more</li>
            <li>Advanced kicks, including: jumping, spinning, combination,double leg</li>
            <li>Pressure point kicking</li>
            <li>Specialty kicking</li>
          </ul>
        </div>
        <div class="image">
          {# <img src="{{ site.cloudinary_url }}w_280,f_auto/legtechniques.jpg" alt="Leg Techniques" loading="lazy" width="280" height="211"> #}
        </div>
      </section>

      <section class="section content-block content-block--borders">
        <div class="content">
          <h4>Throws and Grappling</h4>
          <ul>
            <li>Throws include: body throws, projection throws, hipthrows, leg throws</li>
            <li>Pressure point grappling</li>
            <li>Grappling defense</li>
            <li>Wrestling techniques</li>
            <li>Ground fighting</li>
          </ul>
        </div>
        <div class="image">
          {# <img src="{{ site.cloudinary_url }}w_280,f_auto/throws.jpg" alt="Throws And Grappling" loading="lazy" width="280" height="211"> #}
        </div>
      </section>

      <section class="section content-block content-block--borders">
        <div class="content">
          <h4>Joint Lock Techniques</h4>
          <ul>
            <li>Restraining methods</li>
            <li>Joint breaking techniques</li>
            <li>Combination joint locking</li>
            <li>Control and redirection techniques</li>
            <li>Arresting and pain-compliance techniques</li>
          </ul>
        </div>
        <div class="image">
          {# <img src="{{ site.cloudinary_url }}w_280,f_auto/jointlocking.jpg" alt="Joint Lock Techniques" loading="lazy" width="280" height="211"> #}
        </div>
      </section>

      <section class="section content-block content-block--borders">
        <div class="content">
          <h4>Falling and Acrobatics</h4>
          <ul>
            <li>Body conditioning and agility techniques</li>
            <li>Body protection techniques</li>
            <li>Acrobatics for defense and offense</li>
          </ul>
        </div>
        <div class="image">
          {# <img src="{{ site.cloudinary_url }}w_280,f_auto/falling.jpg" alt="Falling and Acrobatics" loading="lazy" width="280" height="211"> #}
        </div>
      </section>

      <section class="section content-block content-block--borders">
        <div class="content">
          <h4>Body Conditioning</h4>
          <ul>
            <li>Overall stretching and flexibility training</li>
            <li>Cardiovascular conditioning</li>
            <li>Muscle toning</li>
            <li>Ligament and tendon strengthening</li>
            <li>Joint flexibility and bone conditioning</li>
          </ul>
        </div>
        <div class="image">
          {# <img src="{{ site.cloudinary_url }}w_280,f_auto/conditioning.jpg" alt="Body Conditioning" loading="lazy" width="280" height="211"> #}
        </div>
      </section>

      <section class="section content-block content-block--borders">
        <div class="content">
          <h4>Animal-style Techniques</h4>
          <ul>
            <li>Techniques based on the movements and/or characteristics of certain “martial” animals such as:
              <ul>
                <li>Tiger</li>
                <li>Praying Mantis</li>
                <li>Crane</li>
                <li>Dragon</li>
                <li>Snake</li>
                <li>Bear</li>
                <li>Eagle</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="image">
          {# <img src="{{ site.cloudinary_url }}w_280,f_auto/animal.jpg" alt="Animal-style Techniques" loading="lazy" width="280" height="211"> #}
        </div>
      </section>

      <section class="section content-block">
        <div class="content">
          <h4>Traditional Korean Weapons</h4>
          <ul>
            <li>Sword: short &amp; long, single or double, straight or inverted</li>
            <li>Staff: short, middle &amp; long, single or double</li>
            <li>Jointed Staff (flail): double or triple</li>
            <li>Spear</li>
            <li>Cane</li>
            <li>Rope</li>
            <li>Fan</li>
            <li>Bow &amp; Arrow</li>
            <li>There are 24 different traditional weapons in the curriculum of T.M.A.A.</li>
          </ul>
        </div>
        <div class="image">
          {# <img src="{{ site.cloudinary_url }}w_280,f_auto/weapons.jpg" alt="Traditional Korean Weapons" loading="lazy" width="280" height="211"> #}
        </div>
      </section>

      <hr>

      <section class="section content-block / anchor" id="paul">
        <div class="content">
          <h2>About JIKJN Paul Taylor</h2>
          <p><b>Why did you start learning martial arts?</b></p>
          <p>I started learning martial arts at the age of nine because I was bullied at school. My uncle Mark found a Kuk Sool Won school for me to attend and took me to my first class so I could learn to defend myself. The teacher took me under his wing and trained me up and I have had a passion for it ever since.</p>

          <p><b>Who were your role models growing up?</b></p>
          <p>My favourite martial arts heroes were Bruce Lee, Jean-Claude Van Damme and Chuck Norris. I used to watch their films over and over again.</p>

          <p><b>Why Kuk Sool Won over other martial arts?</b></p>
          <p>I enjoy kuk Sool Won because it is more than just kicking and punching. There is so much more involved such as break-falling, sparring, joint locks, weapons and breathing and meditation techniques which keeps it interesting and gives you the whole martial arts package.</p>

          <p><b>What else has Kuk Sool Won given you?</b></p>
          <p>Looking back over the years I have realised that martial arts training gives you more than just the moves and techniques to defend yourself, it gives you confidence, teaches you discipline and respect and fitness skills that can be transferred to other areas of your life. I have also come to realise that Kuk Sool Won is an extension of my family. I met my wife through training and many of the people I have trained with over the years have become some of my closest friends.</p>

          <p><b>When did you start teaching martial arts?</b></p>
          <p>I got my black belt at the age of 15 and have been teaching ever since, which is over 30 years now. I still train and progress through the curriculum myself, which is vast, and am currently a 6th Dahn. There is always more to learn. I took on the Woodbridge school in 2016 and am very proud of it.</p>

          <p><b>Why is it important for you to teach martial arts?</b></p>
          <p>For me, to go to work and know that my students can defend themselves - that’s really important. As long as they are not the instigator, they need to feel that they can defend themselves. They make me proud, all of them, to see them training and developing. It’s like when parents of students tell me that their kids are taking responsibility for themselves, they can see the changes. The transferable skills I mentioned earlier such as confidence, fitness and respect are important life skills that I can teach my students.</p>

          <p>I have four children of my own and they have all trained in martial arts. I sleep better at night knowing they can defend themselves.</p>

          <p><b>What are your favourite moves?</b></p>
          <p>Spinning crescent kick, back in the day, for demonstrations. Spinning back fist, if the person is not too big, in tournaments, maybe basic back fist.</p>
        </div>
        <div class="image">
          <img class="self-start" src="{{ site.cloudinary_url }}w_280,f_auto/paul.jpg" alt="PKJN Paul" loading="lazy" width="280" height="390">
        </div>
      </section>
    </div>
  </article>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Paul Taylor",
    "url": "https://www.kuksoolwonwoodbridge.co.uk",
    "image": "https://res.cloudinary.com/ksww/f_auto/paul.jpg",
    "jobTitle": "Instructor",
    "worksFor": {
      "@type": "Organization",
      "name": "T.M.A.A. Woodbridge"
    }
  }
  </script>

{% endblock %}
