---
title: Classes
eleventyNavigation:
  key: Classes
  order: 2
---

{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="hero hero--narrow" style="background-image:linear-gradient(rgba(255,221,0,.8),rgba(255,221,0,.8)),url('{{ site.cloudinary_url }}f_auto,q_auto,w_auto,dpr_auto/hero-classes-bg.jpg')">
    <div class="hero__content">
      <h1 class="hero__heading">T.M.A.A. Classes</h1>
    </div>
  </div>

  <article class="classes / section section--dark">
    <div class="wrapper">
      <section class="anchor" id="adults">
        <h2 class="heading">Youth/Adult Classes</h2>
        <p>From beginners with no previous experience to advanced level martial arts, our professional staff qualified Black Belt instructors will help guide you every step of the way, to give you the ultimate experience in martial art training.</p>

        <p>We aim to provide our students with a progressive and encouraging environment to improve their mental, physical and emotional conditioning.</p>

        <p>Men and women of all backgrounds and age groups are enjoying the many benefits of martial arts training. We treat all of our students with respect and bring out the positive attributes of each individual.</p>

        <p>Traditional martial arts training helps to reduce stress and helps people to set realistic goals. Our step-by-step approach to learning allows students to enjoy constant progress, growth and change. Increase flexibility from head to toe. Improve strength and muscle tone. Reduce body fat and higher levels of energy and endurance.</p>

        <p>Many students find themselves more relaxed and calmer in dealing with some of life’s challenges. Better self-control and personal self-discipline to stay focused on their objectives. Our adult training programme can add a new exiting dimension to people’s lives. It’s good for the mind, body and spirit to learn new skills and live a very healthy lifestyle, which is challenging, rewarding and lots of fun.</p>
      </section>

      <section class="anchor" id="children">
        <h2 class="heading">Childrens Classes <span class="heading--sub">(5 – 10 years)</span></h2>
        <p>Our unique children’s programme is designed to teach students far more than how to kick and punch. We are very concerned with the well-being, health and education of our children. For over twenty years our innovative method of teaching has influenced thousands of kids to become achievers in life, as well as martial arts.</p>
        <p>We promote non violent resolutions to conflict. Yet we strongly believe a child must develop skills and ability to defend themselves.</p>
        <p>Students will develop greater confidence and self-discipline, as they learn how to react to the world around them.</p>
        <p>Our young students are treated with respect and are taught to return the same respect for others.</p>
        <p>We believe in praise, encouragement and positive reinforcement. Parents that work with us, as a team will enjoy seeing their child strive for excellence, at home and at T.M.A.A.</p>

        <p>Your child will improve in the following areas:</p>
          <ul>
            <li>Respect</li>
            <li>Co-ordination</li>
            <li>Never give up attitude</li>
            <li>Leadership skills</li>
            <li>Confidence/self-esteem</li>
            <li>Self-defence</li>
            <li>Attention span</li>
            <li>Motor skills</li>
            <li>Fitness levels</li>
            <li>Flexibility</li>
            <li>Balance</li>
          </ul>

      </section>
      </div>
    </article>
{% endblock %}
