---
title: Safeguarding
description: T.M.A.A. Woodbridge has achieved the Safeguarding Code in Martial Arts
---

{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="hero hero--narrow" style="background-image:linear-gradient(rgba(255,221,0,.8),rgba(255,221,0,.8)),url('{{ site.cloudinary_url }}f_auto,q_auto,w_auto,dpr_auto/hero-about-bg.jpg')">
    <div class="hero__content">
      <h1 class="hero__heading">Safeguarding</h1>
    </div>
  </div>

  <article class="section section--dark">
    <div class="wrapper">
      <div class="two-col-grid">
        <div>
          <p class="delta">We are very pleased and proud to announce that T.M.A.A. Woodbridge has achieved the Safeguarding Code in Martial Arts.</p>
          <p>This means we have successfully demonstrated that we have a good working knowledge of quality safeguarding practices and that we have the following in place:</p>
          <ul>
            <li>Disclosure and Barring Service Check for all coaches, staff and volunteers (this checks that the individuals are safe to work with children and/or vulnerable adults)</li>
            <li>Safeguarding awareness training for all coaches, staff and volunteers</li>
            <li>All coaches will have hold a minimum coaching standard or coaching qualification</li>
            <li>A Safeguarding Policy</li>
            <li>A Safe Practice Policy</li>
            <li>Insurance documentation</li>
            <li>A reporting system for reporting participants' safety and welfare</li>
            <li>A complaints process for parents and all participants</li>
            <li>Code of Conduct for children/young people, coaches/volunteers and parents</li>
          </ul>
        </div>
        <div class="safe-team__paul">
          <h2 class="gamma u-mb-1">Safeguarding Contact Information</h2>
          <div class="u-flex u-flex-col u-align-start zeta">
            <p>If you have Safeguarding concerns about someone in a Position of Trust being a risk of / having caused harm to children,PLEASE CONTACT SUFFOLK LOCAL AUTHORITY DESIGNATED OFFICE (LADO)</p>
            <p>Email: <a href="mailto:LADO@suffolk.gov.uk">LADO@suffolk.gov.uk</a></p>
            <p>LADO central telephone number: <a href="tel:03001232044">0300 123 2044</a></p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="section section--light">
    <div class="wrapper">
      <div>
        <h2 class="gamma u-mb-1">Safeguarding Policies 2024</h2>
        <ul class="u-mb-2">
          <li><a href="/assets/files/adults-safeguarding-policy-TMAA.pdf">Adult Safeguarding Policy</a></li>
          <li><a href="/assets/files/children-safeguarding-policy-TMAA.pdf">Children's Safeguarding Policy</a></li>
          <li><a href="/assets/files/TMAA-Safe-Practice-Policy.pdf">Safe Practice Policy</a></li>
        </ul>

        <h2 class="gamma u-mb-1">Safeguarding Procedures and Practices</h2>
        <ul class="u-mb-2">
          <li><a href="/assets/files/code-of-conduct-for-parents-and-carers-TMAA.pdf">Code of Conduct - Parents</a></li>
          <li><a href="/assets/files/code-of-conduct-for-children-and-young-people-TMAA.pdf">Code of Conduct - Children</a></li>
          <li><a href="/assets/files/code-of-conduct-for-staff-and-volunteers-TMMA.pdf">Code of Conduct - Coaches</a></li>
          <li><a href="/assets/files/complaints-procedure-TMAA.pdf">Complaints Procedure </a></li>
          <li><a href="/assets/files/TMAA-Social-Media-Policy.pdf">Social Media Policy</a></li>
          <li><a href="/assets/files/childline-posters-secondary-schools-english.pdf">Sources of Help Childline Poster</a></li>
        </ul>
      </div>

      <p class="delta u-mb-0">Please feel free to contact one of us if you are feeling worried, unhappy, unsafe or concerned about others.</p>

    </div>
  </article>
{% endblock %}
