{% set pageTitle = title + ' - ' + site.name %}
{% set pageDesc = '' %}
{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

{% if metaTitle %}
  {% set pageTitle = metaTitle %}
{% endif %}

{% if description %}
  {% set pageDesc = description %}
{% endif %}

    <title>{% if title == 'Home' %}{{ site.name }}{% else %}{{ pageTitle }}{% endif %}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="{{ keywords }}" />
    <meta name="twitter:url" property="og:url" content="{{ currentUrl }}" />
    <meta name="twitter:title" property="og:title" content="{{ pageTitle }}" />
    <meta name="twitter:description" property="og:description" content="{{ description }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" property="og:image" content="{{ site.cloudinary_url }}w_1200,f_auto/l_kuk-sool-won-logo,w_140,g_north,y_100/l_text:Georgia_80_bold_center:{{ site.name }},co_rgb:111111,c_fit,w_600,g_south,y_200/og.jpg" />
    <meta name="twitter:image:alt" property="og:image:alt" content="T.M.A.A. Woodbridge" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ siteTitle }}" />
    <link rel="canonical" href="{{ currentUrl }}" />
